extends ../layout
block content
	.container
		.row
		each cat in categories
			h3.col-md-12
				a(href="/result?catId=#{cat._id}&p=0") #{cat.name}
			if cat.movies && cat.movies.length>0
				each item in cat.movies
					.col-md-6.pad-btm
						a.media.newmedia(href="/movie/#{item._id}")
							.media-left
								if item.poster.indexOf('http')>-1
									img.media-object(src="#{item.poster}",alt="#{item.title}")
								else
									img.media-object(src="/upload/#{item.poster}",alt="#{item.title}")
							.media-body
								h4.media-heading #{item.title}
								//-p #{item.classtype}
								p #{item.summary}
